<% @relations.ancestors['docs'].each do |ancestor| %>
  <li class="list-group-item">
    <%= link_to solr_document_path(ancestor['layer_slug_s']) do %>
      <%= relations_icon(ancestor, 'pagelines-brands') %>
      <%= ancestor['dc_title_s'] %>
    <% end %>
  </li>
<% end %>
