<% unless @relations.empty? %>
  <% unless @relations.ancestors['numFound'].to_i.zero? %>
    <div class="card relations">
      <div class="card-header">
        <h2 class="mb-0 h6"><%= t('geoblacklight.relations.ancestor') %></h2>
      </div>

      <ul class="list-group list-group-flush">
        <%= render 'ancestors' %>
      </ul>
    </div>
  <% end %>

  <% unless @relations.descendants['numFound'].to_i.zero? %>
    <div class="card relations">
      <div class="card-header">
        <h2 class="mb-0 h6"><%= t('geoblacklight.relations.descendant') %></h2>
      </div>

      <ul class="list-group list-group-flush">
        <%= render 'descendants' %>
      </ul>
    </div>
  <% end %>
<% end %>
