#map {
  height: 400px;
}

#map.listview-map {
  height: 485px;
}

#table-container{
  overflow:scroll;
  max-height: 450px;
}

#control {
  text-align: center;
  background: #FFF;
  position: absolute;
  left: 24px;
  top: 120px;
  height: 200px;
  width: 28px;
  border: 1px solid #BBB;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 999;
}

#handle {
  background: #000;
  position: absolute;
  left: -1px;
  top: 20px;
  width: 28px;
  height: 10px;
}

#bottom {
  position: absolute;
  bottom:0px;
  left: 8px;
  text-align: center;
}

#handle:hover {
  cursor: pointer;
  background: #444;
  cursor: ns-resize;
}

.show-tools .bookmark_toggle {
  padding: 0px 0px;
}
