/* Styles applied on every page */

/* Icons */
.blacklight-icons svg {
  width: 1em;
  height: 1em;
}

/* Truncation */
.truncate-abstract {
  transition: none; /* No animation */
  position: relative;
}

.truncate-abstract.collapse:not(.show),
.truncate-abstract.collapsing {
  display: block;
  display: -webkit-box;
  overflow-y: hidden;
  line-clamp: var(--max-lines, 8);
  -webkit-line-clamp: var(--max-lines, 8);
  -webkit-box-orient: vertical;

  /* Gradient fade effect */
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bs-body-bg) 65%);
  }
}

/* Badges */
.icon-badge,
.file-type-badge {
  text-transform: uppercase;
  font-weight: 600;
  gap: 0.25em;
  display: inline-flex;
  align-items: center;
  color: var(--bs-body-color);
  background-color: var(--bs-secondary-bg);
}
