/* Record show page styles */

/* Document header */
.documentHeader {
  h1 {
    margin-bottom: 0.5em;
    & > * {
      vertical-align: middle;
    }
  }

  .blacklight-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1em;
  }
}

/* Attribute table */
[data-sidebar="false"] .attribute-data {
  margin-top: 1rem;
}

/* Metadata */
.document-metadata {
  margin-top: 1rem;
}

.blacklight-dct_description_sm p:last-of-type {
  margin-bottom: 0;
}

/* Sidebar */
.page-sidebar {
  .card + .card {
    margin-top: 1rem;
  }

  .card-header {
    font-weight: 500;
  }
}
