/* Search page styles */

/* Search result header */
.documents-list {
  --bl-results-document-margin-top: 0;

  .document {
    border: 0;
    padding-bottom: var(--bl-results-document-padding-top);

    .document-thumbnail {
      padding: 0;
      margin: 0 1rem 0 0;

      a {
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        text-decoration: none;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        box-shadow: var(--bs-box-shadow);
        overflow: hidden;
        display: flex;
        place-content: center;
        place-items: center;
        width: 6rem;
        height: 6rem;
      }

      img {
        max-height: 6rem;
        width: auto;
        object-fit: cover;
      }

      .blacklight-icons {
        display: block;
        height: fit-content;
        width: fit-content;

        svg {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  .document.highlighted {
    background-color: var(--bs-secondary-bg);
  }
}

.blacklight-catalog-index {
  .documentHeader {
    flex: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.25rem;
    line-height: 1.25;
    gap: 0.25em;

    .badges {
      flex: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.2em;
    }
  }

  .index_title {
    margin: 0 0 0 0.25em;
    font-size: 1.25rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .document-main-section {
    .metadata {
      padding: 0.5em;
    }

    .badges {
      margin-bottom: 0.5em;
    }

    .description p {
      display: inline;
      margin: 0;
    }
  }
}

/* Facet navigation */
.alpha-filter .pagination {
  margin: 1rem 0;

  @media (min-width: 992px) {
    .page-item {
      flex: 1;
    }
  }
}
