*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
jetty
.internal_test_app
.tool-versions
# Ignore byebug history
.byebug_history
.DS_Store

# Setup local GeoBlacklight JavaScript ignores
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
yarn.lock

# Ignore IDE files
.idea

# Vite Ruby
/public/vite*
/public/geoblacklight-vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

