<div id="sidebar-html">
  <div id='table-container' class="border bg-light sidebar-container">
    <button class="content-sidebar-header p-2 m-0 btn btn-link h6" aria-expanded="true" data-toggle="collapse" data-target="#attribute-table">
      <%= t('geoblacklight.show.table_name') %>
    </button>
    <table id="attribute-table" class="table table-hover table-condensed table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th><%= t('geoblacklight.show.attribute') %></th>
          <th><%= t('geoblacklight.show.value') %></th>
        </tr>
      </thead>
      <tbody class='attribute-table-body'>
        <tr>
          <td class='default-text' colspan='2'><em><%= t('geoblacklight.show.click_map') %></em></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
