<div class="downloads-sidebar">
    <%# the dropdown-toggle class gives us the little arrow %>
    <button type="button" class="btn btn-primary dropdown-toggle sidebar-btn" id="downloads-button" data-bs-toggle="collapse" data-bs-target="#downloads-collapse" aria-expanded="false" aria-controls="downloads-collapse">
    <%= t('geoblacklight.download.download') %>
    </button>
    <div class="collapse" id="downloads-collapse">
        <div class="card card-body">
            <%# Renders the options of the downloads dropdown button %>
            <% if document.direct_download.present? %>
            <% if document.direct_download[:download].is_a? Array %>
                <% document.direct_download[:download].each do |download| %>
                <%= link_to(download['label'], download['url']) %>
                <% end %>
            <% end %>
            <% if document.direct_download[:download].is_a? String %>
                <%= link_to(download_text(document.file_format), document.direct_download[:download]) %>
            <% end %>
            <% end %>

            <% if document.iiif_download.present? %>
                <%= link_to(download_text("JPG"), iiif_jpg_url) %>
            <% end %>
        </div>
    </div>
</div>
