<div data-controller="downloads" class="card">
  <div class="card-header"><%= t("geoblacklight.download.downloads") %></div>
  <div class="card-body">
    <ul class="list-unstyled">
      <% download_links.each do |link| %>
      <li><%= link %></li>
      <% end %>
    </ul>
  </div>
</div>
