<div class="category-block col-md">
  <%= helpers.geoblacklight_icon(@icon, class: "category-icon") %>
  <%= content_tag :h4, t(@label), class: "category-heading" %>
  <div class="facet-links"><%= facets %></div>
</div>
