<%= render Geoblacklight::AccordionComponent.new(id: 'index-map-attributes', title: t('geoblacklight.show.table_name')) do  %>
  <div class='viewer-information px-3'>
    <em><%= t('geoblacklight.show.click_map') %></em>
  </div>
<% end %>