<div class="index-map-legend">
  <div class="index-map-legend-info">
    <span class="index-map-legend-default"></span>
    <p><span class="sr-only">Green tile indicates </span>Map held by collection</p>
  </div>
  <div class="index-map-legend-info">
    <span class="index-map-legend-unavailable"></span>
    <p><span class="sr-only">Yellow tile indicates </span>Map not held by collection</p>
  </div>
  <div class="index-map-legend-info">
    <span class="index-map-legend-selected"></span>
    <p><span class="sr-only">Blue tile indicates </span>Selected map tile</p>
  </div>
</div>