<div class="index-map-legend pb-2">
  <div class="index-map-legend-info">
    <span class="index-map-legend-default"></span>
    <p><span class="visually-hidden">Green tile indicates </span>Map held by collection</p>
  </div>
  <div class="index-map-legend-info">
    <span class="index-map-legend-unavailable"></span>
    <p><span class="visually-hidden">Yellow tile indicates </span>Map not held by collection</p>
  </div>
  <div class="index-map-legend-info">
    <span class="index-map-legend-selected"></span>
    <p><span class="visually-hidden">Blue tile indicates </span>Selected map tile</p>
  </div>
</div>
