<div id="sidebar-html">
  <div class="border bg-white p-2 sidebar-container">
    <button class="h6 content-sidebar-header m-0" aria-expanded="true" data-toggle="collapse" data-target="#index-map-attributes">
        <%= t('geoblacklight.show.table_name') %>
      </button>
    <div id="index-map-attributes" class='viewer-information'>
    </div>
  </div>
</div>
