<div class="card authentication">
    <div class="card-header">
        <%= link_to t('geoblacklight.tools.login_to_view'), new_user_session_path(referrer: request.original_url), class: ['btn', 'btn-default', 'sidebar-btn'] %>
    </div>
</div>
