<div class='row'>
  <div id='viewer-container' class="col-md-12">

    <!-- Show help text-->
    <%= render Geoblacklight::ViewerHelpTextComponent.new('viewer_protocol', @viewer_protocol) %>
    
    <!-- Index map -->
    <%= render Geoblacklight::IndexMapLegendComponent.new if @display_index_map %>
   
    <!-- Viewer container method -->
    <%= render Geoblacklight::ItemMapViewerComponent.new(@document) %>

    <!-- IIIF drag and drop component -->
    <%= render Geoblacklight::IiifDragDropComponent.new(document:@document) if helpers.iiif_manifest_container? %>
  </div>
</div>
