<div class='row'>
  <div id='viewer-container' class="col-md-12">

    <!-- Show help text-->
    <%= render Geoblacklight::ViewerHelpTextComponent.new('viewer_protocol', @viewer_protocol) %>
    
    <!-- Index map -->
    <%= render Geoblacklight::IndexMapLegendComponent.new(document: @document) %>
   
    <!-- Viewer container method -->
    <%= render Geoblacklight::ItemMapViewerComponent.new(document: @document) %>

    <!-- IIIF drag and drop component -->
    <%= render Geoblacklight::IiifDragDropComponent.new(document: @document) %>
  </div>
</div>
