/**
  Stylesheet for overriding styles inherited from Blacklight proper
**/

$logo-image: image_url('blacklight/logo.svg') !default;

.navbar-logo {  /* The main logo image for the Blacklight instance */
  @if $logo-image {
    background: transparent $logo-image no-repeat top left;
  }
}

// Begin - Addresses GBL issue #634
// Emulates font-size for SVG icons and aligns to baseline
.blacklight-icons {
  display: inline-flex;
  height: $font-size-base;
  width: $font-size-base;
}

.blacklight-icons svg {
  height: 1rem;
  width: 1rem;
  top: .125rem;
  position: relative;
}
// End - Addresses GBL issue #634

// Begin - Addresses GBL issue #639
.facet-limit {
  margin-bottom:0;
}

.facets-collapse .card+.card {
  margin-top: 0.5rem;
}

.documents-list .document {
  margin-top:0.5rem;
  padding-top:0.5rem;
}
// End - Addresses GBL issue #639
