// Common styling for the Downloads, Export, and Authentication cards
.downloads,
.card.exports,
.authentication {
  @include sidebar-children;

  .list-group {
    &.list-group-nested .list-group-item:last-child {
      padding-bottom: 0;
    }

    .list-group-item {
      padding: 8px 20px;

      a {
        @extend .btn-primary;
      }
    }
  }
}

// This section could be eliminated if we update the Authentication card
// to follow the pattern of Dowloads and Exports (put the button in a
// list-group rather than the card header).
.authentication {
  .card-header {
    background-color: inherit;
    border-bottom: inherit;

    a {
      @extend .btn-primary;
    }
  }
}

// Specific to the Export card (mostly because of the current external
// label + button approach, which could be mostly eliminated by reworking
// as suggested in https://github.com/sul-dlss/earthworks/issues/646)
.card.exports {
  .card-header {
    .spinner-border { // if this is used, it probably should go in the card body rather than the card header
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  .export {
    text-align: center;

    @include media-breakpoint-up(xl) {
      text-align: left;
    }

    .export-label {
      padding: 6px 6px 6px 0;

      @include media-breakpoint-up(xl) {
        display: inline-block;
      }
    }

    .export-link-container {
      @include media-breakpoint-up(xl) {
        display: inline-block;
        float: right;
      }

      a {
        @include media-breakpoint-up(xl) {
          width: inherit;
        }
      }
    }
  }
}
