// Styling for Download dropdown button
.sidebar-btn {
  width: 100%;

  + #downloads-collapse {
    width: 100%;
  }
}

.downloads-sidebar {
  margin-bottom: 20px;
}

// Styling for the Authentication card
.authentication {
  @include sidebar-children;

  .list-group {
    &.list-group-nested .list-group-item:last-child {
      padding-bottom: 0;
    }

    .list-group-item {
      padding: 8px 20px;

      a {
        @extend .btn-primary;
      }
    }
  }
}

// This section could be eliminated if we update the Authentication card
// by putting the button in a list-group rather than the card header.
.authentication {
  .card-header {
    background-color: inherit;
    border-bottom: inherit;

    a {
      @extend .btn-primary;
    }
  }
}
