.search-control {
  background-color: #FFF;
  border-radius: 0.25rem;
  box-shadow: 0 0.0625rem 0.25rem rgba(0,0,0,0.65);
}

.search-control a {
  color: #FFF
}

.search-control label {
  margin: 0.5rem 0.75rem;
  font-size: 0.875rem;
  display: block;
  padding-left: 1rem;
  text-indent: -1rem;
  font-weight: normal;
  cursor: pointer;
}

.search-control input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -0.0625rem;
}
