[data-map="home"] {
  height: 400px;
}

.home-search-area {
  
  h2,
  h3 {
    text-align: center;
  }
  
  .input-group.search-input-group {
    width: 100%;
  }
}

.home-facet-link {
  
}

.category-block {
  @extend .col-md-6;
  @extend .text-center;
  min-height: 240px;
  
  .category-icon {
    font-size: 6em;
  }
}
