
.geobl-homepage-masthead {

  .search-query-form {
    max-width: 100%;
  }
}

#main-container {
  .category-block {
    min-height: 15rem;

    .category-icon {
      font-size: 6rem;
    }
  }

  [data-map="home"] {
    height: 25rem;

    .leaflet-control-container {
      .search-control {
        a {
          color: $white;
        }
      }
    }
  }
}
