#main-container {
  .category-block {
    min-height: 240px;

    .category-icon {
      font-size: 6em;
    }
  }

  .leaflet-container {
    height: 400px;

    .leaflet-control-container {
      .search-control {
        a {
          color: $white;
        }
      }
    }
  }
}
