[data-map="home"] {
  height: 400px;
}

.home-search-area {
  text-align: center;
}

.home-facet-link {
  
}

.category-block {
  @extend .col-md-6;
  @extend .text-center;
  min-height: 200px;
  
  .category-icon {
    font-size: 6em;
  }
}
