// Additional customizations beyond generated FontCustom styles

.geoblacklight-icon {
  color: $gray-light;
  font-size: 1.2em;
}

.geoblacklight-stanford {
  color: #8c1515;
}

.geoblacklight-public {
  @extend .fa, .fa-unlock, .text-muted;
}

.geoblacklight-restricted {
  @extend .fa, .fa-lock, .text-muted;
  width: 17px;
}
