// SVG icons via FontAwesome and IcoMoon, see geoblacklight-icons.json for project data

span.icon-missing {
  display: inline-block;
  height: 1em;
  width: 1em;
}

// CatalogController#index - Home
.category-icon {
  .blacklight-icons {
    height: 6rem;
    width: auto;
  }

  .blacklight-icons svg {
    width:  100%;
    height: 100%;
    top: 2rem;
  }
}

// CatalogController#show
.document {
  h2 {
    .blacklight-icons {
      height: 1.5rem;
      width: auto;
    }

    .blacklight-icons svg {
      width:  auto;
      height: 100%;
    }
  }
}

// CatalogController#index - search results
.facet-label {
  .blacklight-icons, span.icon-missing {
    margin-right:0.5em;
  }
}

.blacklight-icons {
  svg * {
    width:  100%;
    height: 100%;
  }
}
