//
// Icon Font: geoblacklight
//
// From https://github.com/geoblacklight/geoblacklight-icons/blob/master/app/assets/stylesheets/_geoblacklight.scss

@font-face {
  font-family: "geoblacklight";
  src: font-url("geoblacklight.eot");
  src: font-url("geoblacklight.eot?#iefix") format("embedded-opentype"),
  font-url("geoblacklight.woff") format("woff"),
  font-url("geoblacklight.ttf") format("truetype"),
  font-url("geoblacklight.svg#geoblacklight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "geoblacklight";
    src: font-url("geoblacklight.svg#geoblacklight") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.geoblacklight-berkeley:before,
.geoblacklight-cd-rom:before,
.geoblacklight-columbia:before,
.geoblacklight-dvd-rom:before,
.geoblacklight-harvard:before,
.geoblacklight-image:before,
.geoblacklight-line:before,
.geoblacklight-massgis:before,
.geoblacklight-minnesota:before,
.geoblacklight-mit:before,
.geoblacklight-mixed:before,
.geoblacklight-multipoint:before,
.geoblacklight-paper-map:before,
.geoblacklight-point:before,
.geoblacklight-polygon:before,
.geoblacklight-polyline:before,
.geoblacklight-princeton:before,
.geoblacklight-raster:before,
.geoblacklight-stanford:before,
.geoblacklight-tufts:before,
.geoblacklight-ucla:before {
  display: inline-block;
  font-family: "geoblacklight";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.geoblacklight-berkeley:before { content: "\f101"; }
.geoblacklight-cd-rom:before { content: "\f112"; }
.geoblacklight-columbia:before { content: "\f115"; }
.geoblacklight-dvd-rom:before { content: "\f113"; }
.geoblacklight-harvard:before { content: "\f103"; }
.geoblacklight-image:before { content: "\f10a"; }
.geoblacklight-line:before { content: "\f108"; }
.geoblacklight-massgis:before { content: "\f106"; }
.geoblacklight-minnesota:before { content: "\f116"; }
.geoblacklight-mit:before { content: "\f104"; }
.geoblacklight-mixed:before { content: "\f11a"; }
.geoblacklight-multipoint:before { content: "\f119"; }
.geoblacklight-paper-map:before { content: "\f110"; }
.geoblacklight-point:before { content: "\f109"; }
.geoblacklight-polygon:before { content: "\f107"; }
.geoblacklight-polyline:before { content: "\f118"; }
.geoblacklight-princeton:before { content: "\f111"; }
.geoblacklight-raster:before { content: "\f10d"; }
.geoblacklight-stanford:before { content: "\f102"; }
.geoblacklight-tufts:before { content: "\f105"; }
.geoblacklight-ucla:before { content: "\f117"; }

$font-geoblacklight-berkeley: "\f101";
$font-geoblacklight-cd-rom: "\f112";
$font-geoblacklight-columbia: "\f115";
$font-geoblacklight-dvd-rom: "\f113";
$font-geoblacklight-harvard: "\f103";
$font-geoblacklight-image: "\f10a";
$font-geoblacklight-line: "\f108";
$font-geoblacklight-massgis: "\f106";
$font-geoblacklight-minnesota: "\f116";
$font-geoblacklight-mit: "\f104";
$font-geoblacklight-mixed: "\f11a";
$font-geoblacklight-multipoint: "\f119";
$font-geoblacklight-paper-map: "\f110";
$font-geoblacklight-point: "\f109";
$font-geoblacklight-polygon: "\f107";
$font-geoblacklight-polyline: "\f118";
$font-geoblacklight-princeton: "\f111";
$font-geoblacklight-raster: "\f10d";
$font-geoblacklight-stanford: "\f102";
$font-geoblacklight-tufts: "\f105";
$font-geoblacklight-ucla: "\f117";
