// Additional customizations beyond generated FontCustom styles

.geoblacklight-icon {
  color: $gray-light;
  font-size: 1.2em;
}

.geoblacklight-stanford {
  color: #8c1515;
}

.geoblacklight-public {
  @extend .fa, .fa-unlock, .text-muted;
}

.geoblacklight-restricted {
  @extend .fa, .fa-lock, .text-muted;
  width: 17px;
}

.geoblacklight-citation {
  @extend .fa, .fa-bookmark;
}

.geoblacklight-sms {
  @extend .fa, .fa-mobile;
}

.geoblacklight-email {
  @extend .fa, .fa-envelope;
}

.geoblacklight-web_services {
  @extend .fa, .fa-external-link;
}

.geoblacklight-metadata {
  @extend .fa, .fa-file-text-o;
}
