#document {
  .document-metadata.dl-invert {
     dt {
      font-weight: bold;
    }
  }

  #viewer-container {
    .viewer {
      border: 1px solid $gray-400;
      min-height: 27.5rem;
      width: 100%;

      // Ensure embeds, openlayers viewer, and IIIF viewer fit their container
      iframe, .ol-viewport, .openseadragon-container {
        min-height: 27.5rem;
      }
    }

    // set cursor for inspectable maps
    .leaflet-clickable {
      cursor: crosshair;
    }
    margin-bottom: 1rem;
  }

  #mirador {
    position: relative;
  }

  .help-text {
    cursor: pointer;
  }

  // Remove bootstrap transition delay since we're not animating it
  .truncate-abstract {
    transition: none;
  }

  .truncate-abstract.collapse:not(.show),
  .truncate-abstract.collapsing {
    display: block;
    display: -webkit-box;
    height: auto;
    min-height: #{8 * $line-height-base}rem;
    max-height: #{8 * $line-height-base}rem;
    overflow-y: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
  }

  #table-container {
    margin-bottom: 1rem;

    table {
      margin-bottom: 0px;
    }
  }

  .attribute-data {
    --bs-accordion-active-bg: none;
  }

  .sidebar-container {
    width: 25vw;
    overflow: scroll;
    overscroll-behavior: contain;

    img {
      width: 100%;
    }

    @media screen and (max-width: breakpoint-max(sm)) {
      width: calc(100vw - 100px);
      max-height: 20vh!important;
    }
  }
}
