#document {
  .document-metadata.dl-invert {
     dt {
      font-weight: bold;
    }
  }

  #viewer-container {
    [data-map="item"] {
      height: 27.5rem;
    }

    [data-inspect="true"][data-available="true"] {
      cursor: crosshair;

      // set cursor for feature layer svg elements
      .leaflet-clickable {
        cursor: crosshair;
      }
    }
  }

  .help-text {
    cursor: pointer;
  }
}
