#document {
  .document-metadata.dl-invert {
     dt {
      font-weight: bold;
    }
  }

  #viewer-container {
    [data-map="item"] {
      border: 1px solid $gray-400;
      height: 27.5rem;
    }

    [data-inspect="true"][data-available="true"] {
      cursor: crosshair;

      // set cursor for feature layer svg elements
      .leaflet-clickable {
        cursor: crosshair;
      }
    }
  }

  .help-text {
    cursor: pointer;
  }

  .truncate-abstract.collapse:not(.show),
  .truncate-abstract.collapsing {
    display: block;
    display: -webkit-box;
    height: auto;
    min-height: #{8 * $line-height-base}rem;
    max-height: #{8 * $line-height-base}rem;
    overflow-y: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
  }
}
