.leaflet-control.opacity-control {
  background-color: #a9acb1;
  border-radius: 1rem;
  color: black;
  font: bold 1.125rem 'Lucida Console', Monaco, monospace;
  display: block;
  height: 12.5rem;
  left: 0.5rem;
  position: relative;
  top: 1rem;
  width: 0.25rem;

  .opacity-handle {
    background-color: #fff;
    border-radius: 0.25rem;
    border: 0.0625rem solid #eee;
    cursor: ns-resize;
    font-size: 0.625rem;
    height: 2rem;
    left: -0.6875rem;
    line-height: 1.5rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.625rem;
    @include map-control-shadow;

    &:hover {
      background-color: #f4f4f4;
    }
  }

  .opacity-arrow-up {
    color: #aaa;
    position: absolute;
    top: -1.5rem;
    text-align: center;
    width: 100%;

    &:before {
      content: '=';
    }
  }

  .opacity-arrow-down {
    bottom: -1.5rem;
    color: #aaa;
    position: absolute;
    text-align: center;
    width: 100%;

    &:before {
      content: '=';
    }
  }

  .opacity-bottom {
    background-color: #017afd;
    border-radius: 1rem;
    display: block;
    height: 8.5rem;
    left: 0rem;
    position: relative;
    top: 4rem;
    width: 0.5rem;
  }

  // Area underneath slider to prevent unintentioned map clicks
  .opacity-area {
    padding: 1rem;
    cursor: default;
    height: 12.5rem;
    left: -1.5rem;
    position: absolute;
    top: 0rem;
    width: 1.5rem;
  }
}

.opacity-control.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
