.leaflet-control.opacity-control {
  background-color: #a9acb1;
  border-radius: 15px;
  display: block;
  height: 200px;
  left: 10px;
  position: relative;
  top: 15px;
  width: 5px;
  
  .opacity-handle {
    background-color: #fff;
    border-radius: 100%;
    cursor: ns-resize;
    font-size: 10px;
    height: 24px;
    left: -10px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 24px;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }

  .opacity-bottom {
    background-color: #017afd;
    border-radius: 15px;
    display: block;
    height: 138px;
    left: 0px;
    position: relative;
    top: 62px;
    width: 5px;    
  }
  
  // Area underneath slider to prevent unintentioned map clicks
  .opacity-area {
    padding: 14px;
    cursor: default;
    height: 200px;
    left: -12px;
    position: absolute;
    top: 0px;
    width: 20px;
  }
}

.opacity-control.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
