.leaflet-control.opacity-control {
  background: #fff;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 200px;
  position: absolute;
  text-align: center;
  top: 120px;
  width: 28px;
  z-index: 999;
  
  .opacity-handle {
    background: #000;
    height: 10px;
    left: -1px;
    position: absolute;
    top: 20px;
    width: 28px;
    
    &:hover {
      background: #444;
      cursor: pointer;
      cursor: ns-resize;
    }
  }

  .opacity-bottom {
    bottom: 0;
    left: 8px;
    position: absolute;
    text-align: center;
  }
}
