.modal {
  &-header {
    border-bottom: none;
  }

  &-body {
    .form-horizontal {
      .form-group {
        * {
          float: left;
        }

        .control-label {
          text-align: right;
          margin-bottom: 0;
          padding-top: 0.5rem;
        }
      }
    }
  }

  &-footer {
    margin-bottom: 0.5rem;
    border-top: none;

    .btn {
      border-color: $gray-400;
    }
  }
}
