.modal-header, .modal-body, .modal-footer {
  .hide-without-js {
    display: none;
  }
}

#ajax-modal {
  .modal-header, .modal-body, .modal-footer {
    .hide-without-js {
      display: inline-block; 
    }
  }

}

// Add some separation between web services entries
.web-services-modal-body > div + div {
  border-top: 1px solid #dee2e6;
  padding-top: 1rem;
}
