[data-map="index"] {
  height: 30rem;
}

.more-info-area {
  order:3;
  max-height: 6rem;
  overflow:hidden;
}

.text-span{
  width:80%;
  float:left;
}

.hide-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block
}

.status-icons {
  order: 2;
  margin-left: 0.5rem;
}

.index_title {
  order: 1;
  @extend .text-span;
  @extend .hide-overflow;
  @extend h5;
  font-size:1rem;
  width:80%;
}

.caret-toggle {
  @extend .fa, .fa-caret-right;
  cursor: pointer;
  width: 0.625rem;

  &.open {
    @extend .fa, .fa-caret-down;
  }
}
