.show-tools {
  a .geoblacklight {
    color: $gray-light;
  }

  .geoblacklight-citation {
    text-align: center;
    width: 1.4em;
  }
  
  .geoblacklight-sms {
    text-align: center;
    width: 1.4em;
  }
  
  .geoblacklight-email {
    text-align: center;
    width: 1.4em;
  }

  .geoblacklight-web_services {
    text-align: center;
    width: 1.4em;
  }

  .geoblacklight-metadata {
    text-align: center;
    width: 1.4em;
  }

  .geoblacklight-cartodb {
    text-align: center;
    width: 1.4em;
  }

  .downloads {
    padding-top: 15px;
  }
}
