
.show-tools {
  @include sidebar-children;

  .list-group {

    .list-group-item {

      form {
        @extend %list-group-item-children;

        .checkbox {
          margin-left: 4px;
          margin-right: 4px;

          label {
            margin-bottom: inherit;
          }
        }
      }

      a {

        .geoblacklight {

          &-citation {
            @extend %list-group-item-anchors;
          }

          &-data-dictionary {
            @extend %list-group-item-anchors;
          }

          &-sms {
            @extend %list-group-item-anchors;
          }

          &-email {
            @extend %list-group-item-anchors;
          }

          &-web_services {
            @extend %list-group-item-anchors;
          }

          &-metadata {
            @extend %list-group-item-anchors;
          }

          &-carto {
            @extend %list-group-item-anchors;
          }

          // DEPRECATED: Will be removed in GeoBlacklight v2.0
          &-cartodb {
            @extend %list-group-item-anchors;
          }
        }
      }
    }

    .downloads {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}
