.show-tools {
  @include sidebar-children;

  .list-group .list-group-item {
    // Spacing for Tools links other than Bookmark
    a {
      padding: 8px 1rem 8px 0;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
