<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Request Layer</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" id="hglRequest">
    <p>Please enter your email address. You will receive a link to download the layer when it is ready.</p>
    <div class="form-group">
      <label for="requestEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6">
        <input class="form-control" type="email" id="requestEmail" />
      </div>
      <input type="hidden" id="requestUrl"
        value="<%= download_hgl_path(id: @document) %>" />
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Request</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>