<div id="metadata-error-container" class="container-fluid">
  <div>
    <h1>The metadata for this item doesn't exist.</h1>
  </div>
  <p>If you are the application owner check the logs for more information.</p>
</div>
