<div id="metadata-error-container" class="container-fluid">
  <div>
    <h1><%= t('geoblacklight.metadata.metadata_error')%></h1>
  </div>
  <p><%= t('geoblacklight.metadata.metadata_trace')%></p>
</div>
