<% if @document['dc_description_s'].present? %>
  <dt>Description</dt>
  <dd itemprop="description">
    <div class='truncate-abstract'>
      <%= @document['dc_description_s'] %>
    </div>
  </dd>
<% end %>
