<div class='row'>
  <div
    id="documents"
    class="documents-list col-md-6"
    data-controller="search-results"
    data-action="leaflet-viewer:loaded@window->search-results#addGeosearch"
    data-search-results-catalog-url-value="<%= search_catalog_path %>"
    data-search-results-leaflet-viewer-outlet=".leaflet-viewer">
    <turbo-frame id="documents-frame">
      <% documents.each_with_index do |document, index| %>
        <%= render Geoblacklight::SearchResultComponent.new(document: document, document_counter: index) %>
      <% end %>
    </turbo-frame>
  </div>
  <%= render(Geoblacklight::LocationLeafletMapComponent.new(page: 'index', classes: 'col-md-6 sticky-top position-sticky leaflet-viewer')) %>
</div>
