<div id="documents" class="docView col-md-6">
  <%= render documents, :as => :document %>
</div>
<%= content_tag :div, '', id: 'map', data: { map: 'index', 'catalog-path'=> search_catalog_path , 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>