<div class='row'>
  <div id="documents" class="documents-list col-md-6">
    <%= render documents, :as => :document %>
  </div>
  <%= render(Geoblacklight::LocationLeafletMapComponent.new(data_map: results_js_map_selector(controller.controller_name), classes: 'col-md-6 sticky-top position-sticky')) %>
</div>
