<% document ||= @document %>
<% if document.cartodb_reference.present? %>
    <%= link_to(cartodb_link(document.cartodb_reference), target: '_blank') do %>
    <span class='geoblacklight geoblacklight-cartodb'></span><%= t('geoblacklight.tools.open_carto') %>
    <% end %>
<% end %>
