<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t('blacklight.welcome') %></h4>
      </div>
      <div class="panel-body">
        <p>
          Find GIS data!
        </p>
        <p>
          Discover Maps!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Featured Datasets</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            <a href="#">Amazing Data 1</a>
          </li>
          <li>
            <a href="#">Amazing Data 2</a>
          </li>
          <li>
            <a href="#">Amazing Data 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<div id="map" class="mapview-map"></div>

<%= javascript_include_tag 'home' %>

<br>
<br>