<% document ||= @document %>

<div class="col-md-12">
	<%= content_tag :div, id: 'osd', data: { map: 'item', 'viewer' => 'iiif', 'iiifurl' => document.viewer_protocol[:iiif], 'catalog-path'=> catalog_index_path, 'map-bbox' => document[:solr_bbox], 'layer-id' => document[:layer_id_s], available: document_available? } do %>
	<% end %>
</div>