<% document ||= @document %>

<%= render 'upper_metadata', locals: { document: document} %>

<div class='row'>
  <div class="col-md-8">
    <%= content_tag :div, id: 'map', data: { map: 'item', 'catalog-path'=> catalog_index_path , 'map-bbox' => document[:solr_bbox], 'layer-id' => document[:layer_id_s], 'wms-url' => document[:solr_wms_url], available: document_available? } do %>
      <div id='control'>
        <div id='handle'></div>
        <div id='bottom'></div>
      </div>
    <% end %>
  </div>
  <div id='table-container' class='col-md-4'><div id='attribute-table' ></div></div>
</div>
