<div class="card">
  <div class="card-header">
    <%= I18n.t('geoblacklight.location') %>
  </div>

  <div class="card-body">
    <%= content_tag :div, id: 'static-map', aria: { label: t('geoblacklight.map.label') }, data: { controller: 'leaflet-viewer', leaflet_viewer_map_geom_value: @document.geometry.geojson, leaflet_viewer_basemap_value: geoblacklight_basemap, leaflet_viewer_options_value: leaflet_options, leaflet_viewer_draw_initial_bounds_value: true } do %>
    <% end %>
  </div>
</div>
