<% if show_attribute_table? %>
  <div id='table-container' class='col-md-4'>
    <table id="attribute-table" class="table table-hover table-condensed table-responsive table-striped table-bordered">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody class='attribute-table-body'>
        <tr>
          <td class='default-text' colspan='2'><em>Click on map to inspect values</em></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>