<% document ||= @document %>

<%= render 'upper_metadata', locals: { document: document} %>

<div class='row'>

	 <% if document.view_action.has_key?(:iiif) %>
	 	<%= render 'lower_iiif', locals: { document: document} %>
	 <% elsif document.view_action.has_key?(:wms) %>
	 	<%= render 'lower_wms', locals: { document: document} %>
	 <% else %>
	 	<!-- thumbnail display and/ or map with bbox outline? -->
	 <% end %>

</div>
