<h2>
  <span itemprop="name"><%= document_heading(document) %></span>
  <small>
    <%= geoblacklight_icon(document['layer_geom_type_s']) %>
    <%= geoblacklight_icon(document['dct_provenance_s']) %>
    <%= geoblacklight_icon(document['dc_rights_s']) %>
  </small>
</h2>