<% document ||= @document %>
<div class='row'>
  <div id='viewer-container' class="col-md-12">

    <% if show_help_text?('viewer_protocol', document.viewer_protocol) %>
      <%= render_help_text_entry('viewer_protocol', document.viewer_protocol) %>
    <% end %>

    <% if document.item_viewer.index_map %>
      <div class="index-map-legend">
        <div class="index-map-legend-info">
          <span class="index-map-legend-default"></span>
          <p><span class="sr-only">Green tile indicates </span>Map held by collection</p>
        </div>
        <div class="index-map-legend-info">
          <span class="index-map-legend-unavailable"></span>
          <p><span class="sr-only">Yellow tile indicates </span>Map not held by collection</p>
        </div>
        <div class="index-map-legend-info">
          <span class="index-map-legend-selected"></span>
          <p><span class="sr-only">Blue tile indicates </span>Selected map tile</p>
        </div>
      </div>
    <% end %>

    <%= viewer_container %>
  </div>
</div>
