<h2>
  <span itemprop="name"><%= document_heading(document) %></span>
  <small>
    <%= layer_type_image(document['layer_geom_type_s']) %>
    <%= layer_institution_image(document['dct_provenance_s']) %>
    <%= layer_access_image(document['dc_rights_s']) %>
  </small>
</h2>