<% document ||= @document %>

<%= render partial: 'web_services_default', locals: { reference: reference } %>

<div class='form-group form-inline'>
  <label class='control-label'>WMS <code>layers</code></label>
  <input type='text' value='<%= document.wxs_identifier %>' readonly='readonly' class='form-control'>
</div>
