<%= render Blacklight::System::ModalComponent.new do |component| %>
  <div data-controller="clipboard">
    <div class="modal-header">
      <h3 class="modal-title"><%= t('geoblacklight.metadata.view_metadata')%></h3>
    </div>
    <div class="modal-body metadata-body">
      <%= render partial: 'metadata' %>
    </div>
    <div class="modal-footer">
      <a href="#" target="_blank" rel="noopener noreferrer" id="btn-metadata-download" class="btn btn-primary">Download</a>
      <button type="button" class="btn btn-secondary" data-bl-dismiss="modal"><%= t('blacklight.modal.close') %></button>
    </div>
  </div>
<% end %>
