<div class="modal-header">
  <h1 class="modal-title"><%= t('geoblacklight.references.services')%></h1>
  <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <%= render partial: 'web_services' %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default hide-without-js" data-dismiss="modal"><%= t('geoblacklight.references.services_close')%></button>
</div>
