<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_title do %>
    <%= t('geoblacklight.references.services') %>
  <% end %>
  <% component.with_body do %>
    <div class="modal-body web-services-modal-body">
      <div class="web-services-modal-entry">
        <%= render Geoblacklight::WebServicesComponent.with_collection(@documents.first.references.refs, document: @documents.first) %>
      </div>
    </div>
  <% end %>
  <% component.with_footer do %>
    <button type="button" class="btn btn-secondary" data-bl-dismiss="modal"><%= t('blacklight.modal.close') %></button>
  <% end %> 
<% end %>
