name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Install dependencies
        run: bundle install
      - name: Run linter
        run: bundle exec standardrb

  aardvark-fixture-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Install json schema validator
        run: gem install json_schemer
      - name: Run json_schemer against aardvark fixtures
        run: find spec/fixtures/solr_documents -type f -name "*.json" | xargs json_schemer schema/geoblacklight-schema-aardvark.json

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        rails_version: ["7.2.3", "8.1.1"]
        asset_pipeline: ["vite"]
        additional_engine_cart_rails_options: ["--js rollup"]
        include:
          - ruby_version: "3.4"
            rails_version: "8.1.1"
            asset_pipeline: "importmap"
            additional_engine_cart_rails_options: "--js importmap"

    name: test ruby ${{ matrix.ruby_version }} / rails ${{ matrix.rails_version }} / ${{ matrix.asset_pipeline }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
      - name: Install Ruby dependencies
        run: bundle install
        env:
          RAILS_VERSION: ${{ matrix.rails_version }}
      - name: Build and link frontend package, if using vite
        if: matrix.asset_pipeline == 'vite'
        run: |
          yarn install
          yarn build
          yarn link
      - name: Run tests
        run: bundle exec rake ci
        env:
          RAILS_VERSION: ${{ matrix.rails_version }}
          ASSET_PIPELINE: ${{ matrix.asset_pipeline }}
          ENGINE_CART_RAILS_OPTIONS: "--skip-docker --skip-action-cable --skip-rubocop --skip-brakeman --skip-kamal --skip-solid -a propshaft --css bootstrap ${{ matrix.additional_engine_cart_rails_options }}"
          SOLR_URL: http://solr:SolrRocks@localhost:8983/solr/blacklight-core
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v5
        if: matrix.asset_pipeline == 'vite'
        with:
          name: "coverage-${{ matrix.ruby_version }}-${{ matrix.rails_version }}"
          path: coverage/
