name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
      - name: Install dependencies
        run: bundle install
      - name: Run linter
        run: bundle exec standardrb

  aardvark-fixture-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
      - name: Install json schema validator
        run: gem install json_schemer
      - name: Run json_schemer against aardvark fixtures
        run: find spec/fixtures/solr_documents -type f -name "*.json" | xargs json_schemer schema/geoblacklight-schema-aardvark.json

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version: ["3.3", "3.4", "4.0"]
        rails_version: ["7.2.3", "8.1.1"]

    name: test ruby ${{ matrix.ruby_version }} / rails ${{ matrix.rails_version }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
      # Needed until runner permissions issue is resolved:
      # https://github.com/actions/runner-images/issues/13647
      - name: Fix gem directory permissions
        run: sudo chmod +t $(ruby -e 'puts Gem.default_dir')/gems
      - name: Install Ruby dependencies
        run: bundle install
        env:
          BUNDLE_FORCE_RUBY_PLATFORM: true
          RAILS_VERSION: ${{ matrix.rails_version }}
      - name: Run tests
        run: bundle exec rake ci
        env:
          BUNDLE_FORCE_RUBY_PLATFORM: true
          RAILS_VERSION: ${{ matrix.rails_version }}
          SOLR_URL: http://solr:SolrRocks@localhost:8983/solr/blacklight-core
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v6
        with:
          name: "coverage-${{ matrix.ruby_version }}-${{ matrix.rails_version }}"
          path: coverage/
